<h1>Quản lý <link rel="stylesheet" href=""></h1>
<% if(msg?.length){ %>
<div class="col alert alert-success"><%= msg %></div>
<% } %>
<form action="" method="post">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="5%">STT</th>
        <th>Link rút gọn</th>
        <th>Link gốc</th>
        <th>Views</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
    </thead>
    <tbody>
      <% shortLinks.forEach(({shorten,original,views,id,User}, index) => { %>
<% if(User.id === req.user.id){%>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= shorten %></td>
    <td><%= original %></td>
    <td><%= views %></td>

    <td>
      <a href="/short_link/edit/<%= id  %>" class="btn btn-warning">Sửa</a>
    </td>
    <td>
        <a href="/short_link/delete/<%= id  %>" class="btn btn-danger">Xóa</a>
      </td>
  </tr>
<% } %>
  


      <%}) %>
    </tbody>
  </table>
  
</form>
<a href="/short_link" class="btn btn btn-primary mt-2">Quay lại trang rút gọn</a>